{{page-title "Index"}}
<div class="header_tag">
    <div class="logo-heading">
        <span class="em-tag">em</span>
        <span class="si-tag">si</span>
        </div>
    <nav>
        <ul class="link_to">
            <li><LinkTo @route="index" class="link-to-div">Home</LinkTo></li>
            <li><LinkTo @route="index" class="link-to-div" >Home</LinkTo></li>
            <li><LinkTo @route="index" class="link-to-div" >Home</LinkTo></li>
            <li><LinkTo @route="index" class="link-to-div" >Home</LinkTo></li>
        </ul>
    </nav>
    <LinkTo @route="shopping-cart" class="button">Login</LinkTo>
</div>

{{outlet}}